<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .radius{
            border: 1px solid #696;
            padding: 60px 0;
            text-align: center; width: 200px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            background: #EEFF99;
            behavior: url(/PIE/PIE.htc);
        }
        div{
            height:300px;
            width:300px;
            border:1px solid red;
        }
    </style>
</head>
<body>

<div class="radius"></div>
</body>
</html>