<html>
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content=""/>
    <title>目前高一准备大学赴美留学。现在开始准备S...</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/wenda.css">

</head>

<body>
<div id="page-h5">
    <header>
        <p class="page-nav">
            目前高一准备大学赴美留学。现在开始准备SAT来的及吗？			</p>
    </header>
    <div class="main">
        <div class="main-name">
            <div class="main-name-img" style="clear:both;">
                <img src="http://cdn.shunshunliuxue.com/avatar/000/00/28/53_avatar_max.jpg">
                <h4>程燕</h4>
            </div>
        </div>
        <div class="page-content" style="clear:both;">
            <div class="content-sidebar">
                <span>5</span>
            </div>
            <div class="content-text">
                <p>不用担心，肯定来得及；如果想了解最晚提供考试成绩的时间，那就是你需要在刚上高三的10月底前考出好的成绩即可</p>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <div class="content-line">
        <span></span>
        <h4>更多回答</h4>
        <span></span>
    </div>
    <div class="main-bottom">
        <div class="main-name">
            <div class="main-name-img" style="clear:both;">
                <img src="http://cdn.shunshunliuxue.com/avatar/000/00/14/54_avatar_max.jpg">
                <h4>范子灵</h4>
            </div>
        </div>
        <div class="page-content" style="clear:both;">
            <div class="content-sidebar">
                <span>2</span>
            </div>
            <div class="content-text expand">
                <p>当然来的及，你现在是大一，还是比较早的呢。
                    但别忘了，你还有托福要准备，同时学校的课不能落下。</p>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>

    <div class="main-bottom">
        <div class="main-name">
            <div class="main-name-img" style="clear:both;">
                <img src="http://cdn.shunshunliuxue.com/avatar/000/00/20/57_avatar_max.jpg">
                <h4>杨松柏</h4>
            </div>
        </div>
        <div class="page-content" style="clear:both;">
            <div class="content-sidebar">
                <span>2</span>
            </div>
            <div class="content-text expand">
                <p>是来的及的。

                    如果大学要去美国，在高三一年便要开始申请。从现在开始的未来一年，要同时安排好托福（或雅思），sat（或act）的准备，并且兼顾好高中成绩。因为高中成绩也是申请好大学的一个很重要的基础。

                    除此之外，对想要申请的美国大学也要有非常清楚的目标设定。如果是想冲刺排名前三十的大学，托福要至少在一百以上，sat至少需要在2100以上。除此之外，还需要参加一些有意义的志愿者活动，或者是参加一些比较有认知度的比赛来提升背景资料，对申请三十前的大学更有帮助。

                    若目标定在30-60排名的大学，托福需要在90-100以上，sat需要在1900-2000以上，也需要作一些相应的背景资料准备。

                    对于60－100排名的大学，要具体根据学校的要求而定，部分学校不要求托福成绩。
                    只要合理的安排和努力，一定会取得不错的成绩！</p>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>

    <div class="main-bottom">
        <div class="main-name">
            <div class="main-name-img" style="clear:both;">
                <img src="http://cdn.shunshunliuxue.com/avatar/000/00/22/86_avatar_max.jpg">
                <h4>吴洁铭</h4>
            </div>
        </div>
        <div class="page-content" style="clear:both;">
            <div class="content-sidebar">
                <span>2</span>
            </div>
            <div class="content-text expand">
                <p>高一来的急的，重点是看你自己怎么规划好时间去做相应的准备。如果目标是申请前50的大学，那么建议你去准备好的sat和托福。如果目标是50-100之间的大学，你只需要准备托福考试就可以了。另外你高中成绩也是非常关键，一定要保持好的成绩。还有参加一些有意义的活动，提升自己的个人能力与背景。 关键是自己得有个好的规划，那样一步步来就肯定可以申请到你理想的大学。</p>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>

    <div class="main-bottom">
        <div class="main-name">
            <div class="main-name-img" style="clear:both;">
                <img src="http://7xlwax.com1.z0.glb.clouddn.com/common/avatar-max-img.png">
                <h4>手机用户33384zrcl</h4>
            </div>
        </div>
        <div class="page-content" style="clear:both;">
            <div class="content-sidebar">
                <span>2</span>
            </div>
            <div class="content-text expand">
                <p><div class="aw-comment-upload-img-list active">
                <a href="http://cdn.shunshunliuxue.com/answer/20150802/35ea0974fe724503520764fa35df8a08.JPG" target="_blank" data-fancybox-group="thumb" rel="lightbox"><img src="http://cdn.shunshunliuxue.com/answer/20150802/35ea0974fe724503520764fa35df8a08.JPG" class="img-polaroid" title="IMG_0276.JPG" alt="IMG_0276.JPG" /></a>
            </div>
                这是我觉得很好的一个本科留学的时间规划，高一所有的都要开始着手准备了，理论上来说并不晚。但是高一建议先进行托福的学习，当托福有了一定的积累学习起sat也相对容易一些。最好的sat考试时间是高二的1月，6月，10月。要把握住这三次时间。高二一年是考试比较集中的一年，要top30大学的话还要开始学习sat2，建议在5月或者11月。当然高一开始准备sat加托福也是一个不错的选择，相得益彰。值得提醒的是课外活动也不能忽视需要在高一相对轻松的时候着手准备，这是一个比较好的铺垫</p>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>

    <div class="main-bottom">
        <div class="main-name">
            <div class="main-name-img" style="clear:both;">
                <img src="http://cdn.shunshunliuxue.com/avatar/000/00/60/26_avatar_max.jpg">
                <h4>李殷</h4>
            </div>
        </div>
        <div class="page-content" style="clear:both;">
            <div class="content-sidebar">
                <span>0</span>
            </div>
            <div class="content-text expand">
                <p>我听过很多培训机构误导同学，说SAT难，等把SAT弄好了，TOEFL就不在话下了。这个话有一定道理，但是对于大多数同学来说不适用，因为一下子上来就最难的 ，学的会很辛苦，付出再多都感觉不到进步。学习是一个逐步成长的过程，先易后难还是更符合人的规律，不然为什么不先学微积分再学1+1？我建议还是先TOEFL到90最起码80以上，单词，阅读能力都有点基础后，再捋SAT比较合适。</p>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>

    <div class="main-bottom">
        <div class="main-name">
            <div class="main-name-img" style="clear:both;">
                <img src="http://cdn.shunshunliuxue.com/avatar/000/00/35/21_avatar_max.jpg">
                <h4>张液</h4>
            </div>
        </div>
        <div class="page-content" style="clear:both;">
            <div class="content-sidebar">
                <span>0</span>
            </div>
            <div class="content-text expand">
                <p>来不来得及要看你现在的英语水平，不过一般来说，高一时来得及的。</p>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>

    <div class="main-bottom">
        <div class="main-name">
            <div class="main-name-img" style="clear:both;">
                <img src="http://cdn.shunshunliuxue.com/avatar/000/00/13/29_avatar_max.jpg">
                <h4>王磊</h4>
            </div>
        </div>
        <div class="page-content" style="clear:both;">
            <div class="content-sidebar">
                <span>0</span>
            </div>
            <div class="content-text expand">
                <p>高一准备SAT是完全来得及的。但是一定要找到合适的学习方法，并且明确自己的申请目标，按计划、按步骤地扎实前进。如果托福的水平已经有能考出7，80分的能力了，就可以准备SAT，但是如果托福都还没有准备，直接就准备SAT 会比较辛苦。相对来讲SAT无论从词汇量和考试的难度来说，都比托福高很多。一般有比较好的英文底子再进行SAT的准备会达到事半功倍的效果。</p>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>

    <div class="line-right">
        <span></span>
    </div>

    <div class="bottom-window">
        <div class="bottom-img">
            <img src="http://api.shunshunliuxue.com/static/css/default/img/client/logo.png">
        </div>
        <div class="bottom-text">
            <a class="download-app" href="http://www.shunshunliuxue.com/weixin/appdownload/" target="_blank"><h3>点击下载顺顺留学</h3>
                <h4>新一代人的选择</h4></a>
        </div>
        <div class="bottom-x">
            <a id="main-break" href="#">
                <img id='img' src="http://api.shunshunliuxue.com/static/css/default/img/client/x.png">
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script>//手机屏幕自适应大小
window.addEventListener('DOMContentLoaded', function (){
    var shuping = 'onorientationchange' in window ? 'orientationchange' : 'resize';
    var isAndorid = /(Android)/i.test(navigator.userAgent);
    var timer = null;

    //设置字体
    function setFontSize(){
        var w = window.innerWidth;
        //设计图 宽度是750  ——————————> 对应/750, 1rem = 100px;(css已设置)
        document.documentElement.style.fontSize = 24*w/640 + 'px';
    }
    setFontSize();

    //手机横竖屏时 改变大小，Andorid手机切换有延迟 故开定时器
    window.addEventListener(shuping, function (){
        return false;
        //clearTimeout(timer);
        timer = setTimeout(setFontSize, /*isAndorid?300:0*/500);
    }, false);
}, false);
    console.log(timerr = setTimeout(function(){},0));
</script>
<script type="text/javascript">//点击按钮关闭
window.onload = function(){
    var height = document.getElementsByTagName("header")[0].clientHeight;
    document.getElementsByClassName("main")[0].style.paddingTop = height + "px";

    var oA = document.getElementById('img');
    console.log(oA);//在控制台上看到更多的结果
    var obottom = document.getElementsByClassName("bottom-window");
    oA.onclick = function(){
        obottom[0].style.display = 'none';
    };

    (function() {

        var contentEls = document.getElementsByClassName('expand');
        var length = contentEls.length;
        var i;
        for(i = 0; i < length; i++) {
            (function() {
                var contentEl = contentEls[i];
                var p = contentEl.getElementsByTagName('p');
                var text = p[0].innerHTML;
                var isExpaned = false;
                var newBox = document.createElement("p");
                newBox.innerHTML = text.substring(0,110);
                contentEl.onclick = function(){
                    if (isExpaned){
                        newBox.innerHTML = text.substring(0,110);
                        newBox.innerHTML += '...';
                        isExpaned = false;
                    }else{
                        newBox.innerHTML = text;
                        isExpaned = true;
                    }
                }
                contentEl.innerHTML = "";
                contentEl.appendChild(newBox);
            })();
        }

    })();

}
</script>
</body>
</html>
